$theme-colors: (
    primary: rgb(226, 0, 0),
    success: #15b800,
    info: #158dc9,
    warning: #fcde00
);

body {
    background-color: #fff;
}

.bg-success {
    color: white;
}

.bg-info {
    color: white;
}

.bg-danger {
    color: white;
}
