// Body
$background: #353535;

$body-bg: lighten(
    $color: $background,
    $amount: 8
);
$body-color: var(--white);

$theme-colors: (
    primary: red
);

.navbar-dark {
    background-color: $background;
}
