$enable-rounded: false;

$theme-colors: (
    primary: red,
    success: #27b514,
    info: #0096e0,
    warning: #ffe940
);

.bg-success {
    color: white;
}

.bg-info {
    color: white;
}

.bg-danger {
    color: white;
}
