// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #fff;
}

.bg-success,
.bg-info,
.bg-danger {
    color: white;
}

.main-content {
    min-height: calc(100vh - 206px);
}

.footer {
    color: white;
}

.footer-link {
    color: white;
    text-decoration: underline;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}
