// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #fff;
}

.bg-success,
.bg-info,
.bg-danger {
    color: white;
}

.main-content {
    min-height: 82vh;
}

.footer {
    color: white;
}
